*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}


/* USER VARIABLES SECTION */

:root {
	--text: #212121;
	;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; } */



/* GENERAL CSS SETTINGS */

::placeholder {
	color: #666;
}

::selection {
	background-color: var(--accent);
	color: #fff;
}

input,
textarea {
	outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}

input:required:valid,
textarea:required:valid {
	border-color: green;
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background-color: #333;
}

.header {
	background-color: #212121;
	max-width: 100vw;
	margin: 0 a;
	padding: 0;
}

.nav {
	padding-top: 2.8rem;
	padding-left: 23.8rem;
	padding-right: 27.1rem;
	padding-bottom: 1.4rem;
}

.nav__list {
	display: flex;

}

.nav__item + .nav__item {
	margin-left: 10.9rem;
}

.nav__link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 1.25rem;
	line-height: 1.4rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #6C6A6A;
}

.nav__link:hover {
	color: #8B8B8B;
}