*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}


/* USER VARIABLES SECTION */

:root {
	--text: #212121;
	;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; } */



/* GENERAL CSS SETTINGS */

::placeholder {
	color: #666;
}

::selection {
	background-color: var(--accent);
	color: #fff;
}

input,
textarea {
	outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}

input:required:valid,
textarea:required:valid {
	border-color: green;
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background-color: #333;
}

.header {
	background-color: #212121;
	max-width: 100vw;
	margin: 0 a;
	padding: 0;
}

.nav {
	padding-top: 2.8rem;
	padding-left: 23.8rem;
	padding-right: 27.1rem;
	padding-bottom: 1.4rem;
}

.nav__list {
	display: flex;
}

.nav__item+.nav__item {
	margin-left: 10.9rem;
}

.nav__link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 1.25rem;
	line-height: 1.4rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #6C6A6A;
}

.nav__link:hover,
.header__menu-link:hover,
.header__connect-link:hover {
	color: #8B8B8B;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	max-width: 90rem;
	margin: 0 auto;
}

.header__logo {
	margin-top: 6.4rem;

}

.header__logo-name {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 6.25rem;
	line-height: 7.3rem;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-right: 11.5rem;

}

.header__logo-subtitle {
	margin-left: 32.6rem;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 10rem;
	line-height: 11.8rem;
	text-transform: uppercase;
	background: conic-gradient(from 180deg at 50% 50%, #EB3C48 0deg, rgba(235, 60, 72, 0) 360deg);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	margin-bottom: 2.4rem;
}

.header__menu-list {
	display: flex;
	justify-content: space-between;
}

.header__menu-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 29px;
	text-align: justify;
	text-transform: uppercase;
	text-decoration: none;
	color: #6C6A6A;

}

.header__photo {
	margin-left: 2rem;
}

.header__connect {
	margin-top: 4.4rem;
	margin-bottom: 3.3em;
}

.header__connect-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 1.1rem;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #6C6A6A;
}

.about {
	background: url('../images/bg.png');
	/* transform: rotate(1.62deg); */
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
	background-position: 0 -5rem;
}

.about__inner {
	max-width: 90rem;
	margin: 0 auto;
}

.title {
	display: flex;

	margin-top: 4.9rem;
	margin-left: 12.8rem;
	margin-right: 3rem;
	margin-bottom: 2.4rem;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 47px;
	text-transform: uppercase;
}

.title__line {

	position: relative;
}

.title__line-item {}

.title__line-item::before {
	content: " ";
	position: absolute;
	width: 60.9rem;
	border: 4px solid #212121;
	margin-top: 1.1rem;
	margin-left: 3rem;
}

.about__info {
	display: flex;
}

.about__photo {
	position: relative;
	padding-right: 43.6rem;
	margin-right: 2.5rem;

}

.about__img {
	position: absolute;
	z-index: 1;
	transition: 0.6s ease;
}
.about__img:hover{
	z-index: 5;
	transform: scale(110%);
	transition: 0.6s ease;
}
.about__img-2 {
	position: absolute;
	left: 25rem;
	top: 8rem;
	z-index: 2;
	transition: 0.6s ease;
}
.about__img-2:hover{
	z-index: 5;
	transform: scale(110%);
	transition: 0.6s ease;
}

.about__img-3 {
	position: absolute;
	left: 9rem;
	top: 28rem;
	z-index: 3;
	transition: 0.6s ease;
}
.about__img-3:hover{
	z-index: 5;
	transform: scale(110%);
	transition: 0.6s ease;
}

.about__text {

	padding: 0.5rem;
	margin-top: 10.3rem;
	margin-left: 1rem;
	margin-bottom: 14.2rem;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: justify;

}

.title-reverse {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 4.9rem;
	padding-bottom: 3.6rem;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 47px;
	text-transform: uppercase;
}

.title-reverse__line {
	position: relative;
}

.title-reverse__line-item {}

.title-reverse__line-item::before {
	content: " ";
	position: absolute;
	width: 60.9rem;
	border: 4px solid #212121;
	margin-top: 1.1rem;
	right: 13rem;
}