/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1600px) {
	.nav {
    padding-top: 2.8rem;
    padding-left: 23rem;
    padding-right: 33.1rem;
    padding-bottom: 1.4rem;
}
}

@media (max-width : 1400px) {
	.nav {
    /* padding-top: 2.8rem; */
    padding-left: 22rem;
    padding-right: 0;
    /* padding-bottom: 1.4rem; */
}
.title-reverse {

	padding-right: 0.5rem;
}
.title-contact {
	
	padding-left: 9.8rem;
	
}
.title {

	margin-left: 10.8rem;
}

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {

}

/* sm <= Medium (md) */
@media (max-width : 768px) {

}

/* xs <= Small (sm) */
@media (max-width : 576px) {

}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
